﻿    .ui.modal.register > .content > .description {
        width: 100%;
        overflow-y: auto;
        height: 450px;
    }

    .isento {
        display: flex;
        align-items: center;
    }
