.privacy-police {
    display: none;
    position: fixed;
    bottom:0;
    z-index: 99999;

    .content {
        position: fixed;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 30px;
        background: #fff;
        width: $desktop-xl;
        max-width: 100%;
        box-shadow: 0 0 30px rgba(0,0,0,.1);
        padding: .5rem 1.5rem;
        display: none;

        p {
            margin: 0;
            color: $black;

            a {
                color: $black;
              font-weight: bold;
            }
        }

        button {
            margin: 0;
        }
    }

}
