//colors
$colordesertstormapprox: rgba(248, 248, 248, 1);
$colorfuscousgrayapprox: rgba(85, 85, 85, 1);
$colorvalenciaapprox: rgba(218, 75, 56, 1);
$alto: rgba(219, 219, 219, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$seashell: rgba(241, 241, 241, 1);
$colorouterspaceapprox: rgba(43, 58, 64, 1);
$colorcapecodapprox: rgba(66, 66, 66, 1);
$colorstormdustapprox: rgba(102, 102, 102, 1);
$colorbrightgrayapprox: rgba(63, 70, 76, 1);
$black45: rgba(0, 0, 0, 0.45);
$colormountainmistapprox: rgba(150, 150, 150, 1);
$black50: rgba(0, 0, 0, .5);
$black8: rgba(0, 0, 0, 0.08);
$colorgraynurseapprox: rgba(233, 233, 233, 1);
$colorbonjourapprox: rgba(224, 224, 224, 1);
$black25: rgba(0, 0, 0, 0.25);
$colorconcreteapprox: rgba(243, 243, 243, 1);
$colormercuryapprox: rgba(231, 231, 231, 1);
$colorcelesteapprox: rgba(204, 204, 204, 1);
$colorconcordapprox: rgba(123, 123, 123, 1);
$colorgalleryapprox: rgba(238, 238, 238, 1);
$colormineshaftapprox: rgba(51, 51, 51, 1);
$colorsilverapprox: rgba(191, 191, 191, 1);
$black13: rgba(0, 0, 0, 0.13);
$colorstackapprox: rgba(142, 142, 142, 1);
$colorcornflowerblueapprox: rgba(89, 153, 238, 1);
$colorhavelockblueapprox: rgba(74, 137, 220, 1);
$colorchicagoapprox: rgba(86, 86, 86, 1);
$colorsushiapprox: rgba(134, 186, 61, 1);
$colorsunsetorangeapprox: rgba(240, 92, 72, 1);
$colorcrustaapprox: rgba(252, 125, 51, 1);
$colorblazeorangeapprox: rgba(255, 103, 15, 1);
$colorgoldenrodapprox: rgba(255, 205, 103, 1);
$coloryelloworangeapprox: rgba(246, 187, 66, 1);
$colordulllavenderapprox: rgba(169, 141, 237, 1);
$colormediumpurpleapprox: rgba(150, 122, 220, 1);
$colorwildstrawberryapprox: rgba(251, 62, 164, 1);
$colorpersianroseapprox: rgba(242, 27, 143, 1);
$colorneoncarrotapprox: rgba(255, 147, 52, 1);
$colorpictonblueapprox: rgba(49, 168, 230, 1);
$colorchateaugreenapprox: rgba(39, 174, 96, 1);
$colorradicalredapprox: rgba(255, 51, 102, 1);
$colorstardustapprox: rgba(156, 156, 156, 1);
$black10: rgba(0, 0, 0, 0.1);
$colorgrayapprox: rgba(130, 129, 129, 1);
$colornobelapprox: rgba(179, 179, 179, 1);
$coloroslograyapprox: rgba(137, 141, 145, 1);
$colorwildsandapprox: rgba(245, 245, 245, 1);
$colorquillgrayapprox: rgba(209, 211, 212, 1);
$colorsanmarinoapprox: rgba(55, 108, 183, 1);
$colorendeavourapprox: rgba(0, 86, 185, 1);
$mercury: rgba(229, 229, 229, 1);
$colorgunsmokeapprox: rgba(132, 132, 132, 1);
$coloraltoapprox: rgba(217, 217, 217, 1);
$colordovegrayapprox: rgba(110, 110, 110, 1);
$colorsilverchaliceapprox: rgba(173, 173, 173, 1);
$colorfrolyapprox: rgba(254, 123, 143, 1);
$colormalachiteapprox: rgba(0, 200, 83, 1);
$wildsand: rgba(244, 244, 244, 1);
$colorceruleanapprox: rgba(0, 188, 242, 1);
$colorresolutionblueapprox: rgba(0, 48, 135, 1);
$colortotempoleapprox: rgba(168, 36, 0, 1);
$colorscarletapprox: rgba(255, 51, 0, 1);
$black18: rgba(0, 0, 0, 0.18);
$colortundoraapprox: rgba(69, 69, 69, 1);
