.ui.grid {
    margin-top: 0px;
    margin-bottom: 0;
}

.divider-column {
    padding: 0 !important;
    position: relative;

    @media screen and (max-width: $mobile-bp) {
        width: 100%;
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
}

.ui {
    &.mobile {
        &.only {
            display: none;
        }
    }
}


.ui.container.fluid {
    @media only screen and(max-width: $mobile-bp) {
        width: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em !important;
        padding-right: 1em !important
    }

    .ui.container {
        @media only screen and(max-width: $mobile-bp) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}

.ui.container {
    @media only screen and(min-width: $desktop-xl) {
        width: 1320px;
    }
}

.ui.grid {
    .row {
        .ui.container {
            @media only screen and(max-width: $mobile-bp) {
                padding-left: 1em !important;
                padding-right: 1em !important;
            }
        }
    }
}

.ui.three.doubling {
    &.cards {
        > .card {
            @media only screen and(max-width: $mobile-bp) {
                width: calc(100% - 2em);
            }
        }
    }
}
