.ui.secondary.pointing.menu .item.active {
  @media only screen and(max-width: $mobile-bp) {
    box-shadow: inset 2px 0 0 #1b1c1d !important;
    border-radius: 0px !important;
    border-bottom: 0px !important;
  }
}
