﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    @if (LojaCorp.Control.Company._Company.StatusGTM)
    {<!-- GoogleTagManager Common -->
        @Html.Action("GoogleTagManager", "Common", new { origin = ViewContext.RouteData.Values["controller"], action = ViewContext.RouteData.Values["action"] })
        <!-- End GoogleTagManager Common -->
    }

    <!-- ~/Views/Shared/Common/_Header.cshtml -->
    @Html.Partial("Common/_Header")
    @RenderSection("CustomSeo", required: false)

    <!-- CSS Styles -->
    @Html.Partial("Common/_CommonCss")
    @RenderSection("custom_css", required: false)

    <!-- Scripts -->
    @Html.Partial("Common/_CommonJs")
    @RenderSection("custom_js", required: false)

    <!-- Google Analytics -->
    @{
        if (!string.IsNullOrEmpty(LojaCorp.Control.Company._Company.IdAnalytics) && !LojaCorp.Control.Company._Company.StatusGTM)
        {
            <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '@LojaCorp.Control.Company._Company.IdAnalytics', 'auto');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
            </script>
        }
    }
    <!-- End Google Analytics -->

    @RenderSection("GoogleAdwords", required: false)

    @RenderSection("CyberSourceHead", required: false)
</head>
<body class="checkContainer">
    @RenderSection("CyberSourceBody", required: false)

    @if (LojaCorp.Control.Company._Company.StatusGTM)
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=@LojaCorp.Control.Company._Company.GTM"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }

    <div class="pusher wsmenucontainer jetBg">
        <div class="ui container fluid bg-white header-checkout">
            <div class="ui container">
                <div class="ui middle aligned three column centered grid stackable">
                    <div class="row">
                        <div class="column">
                            @RenderSection("logo", required: false)
                        </div>
                        <div class="ui center aligned column">
                            @RenderSection("steps", required: false)
                        </div>

                        <div class="column">
                            <div class="buySecurity">
                                <i class="lock icon"></i>
                                <div class="textLock">
                                    <span>COMPRA 100%</span>
                                    <span>SEGURA</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui container padding top bottom large fluid bg-white containerCheckout">
            @RenderBody()
        </div>


        @Html.Partial("Common/_Footer_Checkout")

    </div>
    @RenderSection("remarketing", required: false)
</body>
</html>
