#fileInvitation, #filePicture {
  display: none;
}
#imgPicture{
  margin-bottom: 15px;
}
#changeEventPicture{
  display: none;
}
#uploadArea{
  border-radius: 3px;
  border:1px dashed rgba(0,0,0,0.35);
  background-color: rgba(0,0,0,0.1);
  text-align: center;
  padding: 28px 0;
  cursor: pointer;
  margin-bottom: 15px;
  span{
    width: 100%;
    > i{
      display: block;
      width: 100%;
    }
  }
}

.busca_lista_evento {
  @media screen and (max-width: $mobile-bp){
    width:calc(100% - 40px)
  }
}

.inpSearch {
  max-width: 55px !important;
  text-align: center !important;
  padding-right: 0 !important;
}

.header {
  &.titleList {
    @media screen and (max-width: $tablet-bp-max) and (min-width: $tablet-bp-min){
      max-width: 160px;
    }

  }
}

#btnSendToMyAddress,
#btnSendToGuestAddress {
  @media screen and (max-width: $mobile-bp){
    i {
      display: block;
      margin: 0 auto 10px auto
    }

    text-align: center !important;
    line-height: 18px !important;
  }
}



.buttonsGrid {
  .button {
    @media screen and (max-width: $mobile-bp){
      width:100%;
      margin:0 auto 10px auto !important;
      text-transform: uppercase !important;
    }
  }
}


.btnEventList {
  .button {
    margin-left:0 !important;
    margin-right: 0 !important;
  }
}


#product_manager {
  table {
    @media screen and (max-width: $mobile-bp){
      text-align: center;
    }
  }
}

.listEventList {
  .ui.icon {
    @media screen and (max-width: $tablet-bp-min) {
      margin-right: 0px !important;
      margin-bottom: .5em !important;
    }
  }
}
