.detalhes.produto.flutuante {
	background: #ffffff;
	box-shadow: rgba(0,0,0,.3) 0 0 10px 0;
	bottom: 0 !important;
	display: none;
	position: fixed;
	right: 0 !important;
	transition: opacity .3s ease-in-out;
	z-index: 9;
	padding-bottom: 1em;

	&.ativo {
	  display: block;
	}

	.column[itemprop="offers"]{

	  .row{
		padding: 0.25rem 0 !important;
	  }

		.nomeProduto {
			font-weight: bold;
			font-size: 20px;
		}

	  .precoAntigo{
		clear: both;
		  color: #999;
		  font-size: 12px;
		line-height: 18px;

		&:after{
		  content: '\A';
		  white-space: pre;
		}
	  }
	  .preco{
		clear: both;
		  color: $black;
		  font-size: 20px;
		  line-height: 25px;

		&:after{
		  content: '\A';
		  white-space: pre;
		}
	  }

	  .infoPreco{
		clear: both;
		color:#C5C7C9;
		font-size: 14px;
		line-height: 18px;

		&:after{
		  content: '\A';
		  white-space: pre;
		}

		.descontoBoleto{
		  color:$ascent-1-color;
		  font-weight: 700;
		}
	  }
	}

	#floating-bar {
		>.attached {
			padding-top: 0;
			padding-bottom: 0;
			border: 0;
		}
	}
  }

  .produto.variacao{

	&.popup{
	  width: 400px;
	  max-width: 400px;
	}
  }
