﻿@model List<DomainCheckout.Entities.PaymentMethod>

@{
    List<DomainCheckout.Entities.PaymentMethod> lstPaymentMethods = Model.OrderBy(p => p.Name).ToList();

    var _orderPayPalCheckoutInCart = (DomainPayment.Entities.PayPal.PayPal_Order)Session["PreOrderPayPalCheckoutInCart"];

    if (_orderPayPalCheckoutInCart != null)
    {
        lstPaymentMethods = lstPaymentMethods.Where(p => p.IdPaymentMethod == 22).ToList();
    }

    bool paymentLink = false;
    DomainCheckout.Entities.PaymentMethod paymentMethodLink = null;
    if (Session["Seller"] != null && (Session["PaymentLinkChangeBrand"] == null || (bool)Session["PaymentLinkChangeBrand"] == false))
    {
        paymentMethodLink = lstPaymentMethods.Where(i => i.IdPaymentMethod == 25).FirstOrDefault();

        if (paymentMethodLink != null)
        {
            paymentLink = true;
        }
    }
    bool paymentDescount = false;
    DomainCheckout.Entities.PaymentMethod paymentMethodDescount = null;
    if (paymentLink == true)
    {
        paymentMethodDescount = lstPaymentMethods.Where(i => i.IdPaymentMethod == 19).FirstOrDefault();

        if (paymentMethodDescount != null)
        {
            paymentDescount = true;
        }
    }
}

@if (Model != null)
{
    <div class="ui segment">
        <div class="ui accordion">
            <div class="active title">
                <i class="credit card outline icon"></i>
                Formas <strong>de Pagamento</strong>
            </div>
            <div class="active content">
                <div class="sixteen wide mobile sixteen wide tablet six wide computer column" id="formas-pagamento">

                    <div class="ui secondary menu stackable" id="tabPayment"></div>
                    @if (paymentLink)
                    {
                        <a class="item itemTabPayment" data-tab="paymentLink"><div class="text"><i class="icon money bill alternate outline"></i><span>Link de Pagamento</span></div></a>
                        <!-- Pagamento com Link -->
                        @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_Link.cshtml", paymentMethodLink.PaymentBrands)

                        if (paymentDescount)
                        {
                            <a class="item itemTabPayment hideme" data-tab="paymentDescount"><div class="text"><i class="icon money bill alternate outline"></i><span>Pagamento com Desconto</span></div></a>
                            <!-- Pagamento com Desconto -->
                            @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_Desconto.cshtml", paymentMethodDescount.PaymentBrands)
                        }
                    }
                    else
                    {
                        foreach (var itemM in lstPaymentMethods)
                        {
                            switch (itemM.IdPaymentMethod)
                            {
                                case 1:
                                    <a class="item active itemTabPayment" data-tab="cardCredit"><div class="text"><i class="credit card outline icon"></i><span>Cartão de Crédito</span></div></a>
                                    <!-- Cartão de Crédito -->
                                    @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_Cartao.cshtml", itemM)

                                    break;
                                case 2:
                                    <a class="item itemTabPayment" data-tab="paymentOff"><div class="text"><i class="icon money bill alternate outline"></i><span>Pagamento Offline</span></div></a>
                                    <!-- Pagamento Offline -->
                                    @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_Offline.cshtml", itemM.PaymentBrands)

                                    break;
                                case 3:
                                    <a class="item itemTabPayment" data-tab="boleto"><div class="text"><i class="barcode icon"></i><span>Boleto Bancário</span></div></a>
                                    <!-- Boleto Bancário -->
                                    @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_Boleto.cshtml", itemM.PaymentBrands)

                                    break;
                                case 9:
                                    <a class="item itemTabPayment" data-tab="debOnline"><div class="text"><i class="icon lock"></i><span>Débito Online</span></div></a>
                                    <!-- Débito Redirect -->
                                    @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_Debito_Redirect.cshtml", itemM.PaymentBrands)

                                    break;
                                case 14:
                                    <a class="item itemTabPayment" data-tab="cardDebit"><div class="text"><i class="credit card outline icon"></i><span>Cartão de Débito</span></div></a>
                                    <!-- Cartão de Débito -->
                                    @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_Cartao_Debito.cshtml", itemM)
                                    break;
                                case 19:
                                    <a class="item itemTabPayment hideme" data-tab="paymentDescount"><div class="text"><i class="icon money bill alternate outline"></i><span>Pagamento com Desconto</span></div></a>
                                    <!-- Pagamento com Desconto -->
                                    @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_Desconto.cshtml", itemM.PaymentBrands)
                                    break;
                                case 21:
                                    <a class="item itemTabPayment" data-tab="paypalCheckout"><div class="text"><i class="paypal icon"></i><span>PayPal</span></div></a>
                                    <!-- PayPal Checkout -->
                                    @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_PayPalCheckout.cshtml", itemM.PaymentBrands)
                                    break;
                                case 22:
                                    if (_orderPayPalCheckoutInCart != null)
                                    {
                                        <a class="item itemTabPayment" data-tab="paypalCheckoutInCart"><div class="text"><i class="barcode icon"></i><span>PayPal</span></div></a>
                                        <!-- PayPal Checkout In Cart -->
                                        @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_PayPalCheckoutInCart.cshtml", itemM.PaymentBrands)
                                    }
                                    break;
                                case 23:
                                    <a class="item itemTabPayment" data-tab="paypalCheckoutTransparent"><div class="text"><i class="credit card alternative icon"></i><span>Cartão de Crédito</span></div></a>
                                    <!-- PayPal Checkout Transparente -->
                                    @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_PayPalCheckoutTransparent.cshtml", itemM.PaymentBrands)
                                    break;
                                case 24:
                                    <a class="item itemTabPayment" data-tab="paypalCheckoutReference"><div class="text"><i class="paypal icon"></i><span>PayPal</span></div></a>
                                    <!-- PayPal Reference -->
                                    @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_PayPalCheckoutReference.cshtml", itemM.PaymentBrands)
                                    break;
                                case 26:
                                    <a class="item itemTabPayment" data-tab="mercadoPagoCheckoutVPRO"><div class="text"><i class="icon money"></i><span>Mercado Pago</span></div></a>
                                    <!-- Mercado Pago Checkout VPRO -->
                                    @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_MercadoPagoCheckoutVPRO.cshtml", itemM.PaymentBrands)
                                    break;
                                case 27:
                                    <a class="item itemTabPayment" data-tab="pix"><div class="text"><i class="icon qrcode"></i><span>PIX</span></div></a>
                                    <!-- Mercado Pago PIX -->
                                    @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Pagamento_Pix.cshtml", itemM.PaymentBrands)
                                    break;
                            }
                        }
                    }

                    <input type="hidden" name="hasMercadoPago" id="hasMercadoPago" value="@Session["MercadoPago"]" />
                    <input type="hidden" name="MercadoPagoPublicKey" id="MercadoPagoPublicKey" value="@Session["MercadoPagoPublicKey"]" />
                    <input type="hidden" name="MercadoPagoEmail" id="MercadoPagoEmail" value="@Session["MercadoPagoEmail"]" />
                    <input type="hidden" name="hasPagSeguro" id="hasPagSeguro" value="@Session["PagSeguro"]" />
                    <input type="hidden" name="hasPagSeguroApp" id="hasPagSeguroApp" value="@Session["PagSeguroApp"]" />
                    <input type="hidden" name="SessionPayment" id="PaymentSession" value="" />
                    <input type="hidden" name="HashPayment" id="PaymentHash" value="" />
                    @{
                        if (Convert.ToInt32(Session["PagSeguro"].ToString()) > 0 || Convert.ToInt32(Session["PagSeguroApp"].ToString()) > 0)
                        {
                            <input type="hidden" name="MaximumInstallmentWithoutInterest" id="MaximumInstallmentWithoutInterest" value="0" />
                            <input type="hidden" name="MaximumInstallment" id="MaximumInstallment" value="0" />
                        }
                    }
                    @if (TempData["AddressListEvents"] != null)
                    {
                        <br />
                        <div class="margin top column">
                            <p class="text small color grey aligned description">
                                <strong>ATENÇÃO!</strong>
                                Os produtos serão entregues no endereço do dono da lista.
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
