﻿@model DomainProduct.Entities.Brand

@{
    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbLeftSideBar.cshtml";
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.MetaDescription))
        {
            <meta name="Description" content="@Model.MetaDescription">
            <meta property="og:description" content="@Model.MetaDescription">
            <meta name="twitter:description" content="@Model.MetaDescription">
        }
        <meta property="og:type" content="website">
        <meta property="og:url" content="@Html.Raw(Request.Url)">
        <meta name="twitter:url" content="@Html.Raw(Request.Url)">
        <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
        <meta name="twitter:title" content="@Html.Raw(ViewBag.Title)">
        <meta property="og:image" content="/assets/image/logo/logo.png">
    }
}

@section breadcrumbs {
    <div class="ui two column centered grid stackable middle aligned margin top bottom no breadcrumbs">
        <div class="row">
            <div class="container">
                <div class="column">
                    <h1>@Model.Name</h1>
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="ui breadcrumb">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
                                <span itemprop="name">Home</span>
                                <meta itemprop="url" content="/">
                            </a>
                            <meta itemprop="position" content="1"/>
                            <i class="right angle icon divider"></i>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="name">@(Model != null ? Model.Name : "")</span>
                            <meta itemprop="url" content="/@(Model.Name)">
                            <meta itemprop="position" content="2"/>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}

@section banner {
    @if (Model != null)
    {
        <div class="ui grid">
            @Html.Action("BannerBrand", "Banner", new {brandID = Model.IdBrand, bannerType = 'F'})
        </div>
    }
}


@section footerHalfbanner {
    @Html.Action("BannerBrand", "Banner", new {brandID = Model.IdBrand, bannerType = 'R'})
}


@section filters {
    <div class="four wide column filterColumn">
        <div class="row one column filterBlock" id="filterBlock">
            <!-- Page: ~/Views/Shared/Common/_FilterMenu.cshtml -->
            @if (LojaCorp.Control.Company._Company.ViewProductFiltersUrl)
            {
                @Html.Action("FilterMenuNew", "Product", new {category = "", brand = Model.IdBrand, group = "", keyword = ""})
            }
            else
            {
                @Html.Action("FilterMenu", "Product")
            }
        </div>
        <div class="row">
            <!-- Page: ~/Views/Shared/Blocks/Banner/_SideHalfBanner.cshtml -->
            @Html.Action("SideHalfBannerBrand", "Banner", new {brandId = Model.IdBrand})
        </div>
    </div>
}

<div class="twelve wide column">
    <div class="ui grid">
        <div class="row one column">
            <div class="column right aligned right floated">
                <button class="ui mobile only left floated icon button basic filterbutton right labeled small" data-tooltip="Filtros" data-inverted="">
                    <i class="filter icon"></i>
                    Filtros
                </button>
                <div class="ui dropdown button basic dropdownitens small">
                    <span class="text">@(Request.QueryString["pageSize"] != null ? Request.QueryString["pageSize"] : "Itens")</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="12">
                            12
                        </div>
                        <div class="item" data-value="18">
                            18
                        </div>
                        <div class="item" data-value="24">
                            24
                        </div>
                        <div class="item" data-value="30">
                            30
                        </div>
                    </div>
                </div>
                <div class="ui dropdown button basic dropdownorder small">
                    <span class="text">Ordenar por</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="lancamentos">
                            <i class="asterisk icon"></i>
                            Lançamentos
                        </div>
                        <div class="item" data-value="maior_preco">
                            <i class="sort numeric descending icon"></i>
                            Maior Preço
                        </div>
                        <div class="item" data-value="mais_vendidos">
                            <i class="diamond icon"></i>
                            Mais Vendidos
                        </div>
                        <div class="item" data-value="menor_preco">
                            <i class="sort numeric ascending icon"></i>
                            Menor Preço
                        </div>
                        <div class="item" data-value="nome_a_z">
                            <i class="sort alphabet ascending icon"></i>
                            Nome [A-Z]
                        </div>
                        <div class="item" data-value="nome_z_a">
                            <i class="sort alphabet descending icon"></i>
                            Nome [Z-A]
                        </div>


                    </div>
                </div>
                <button id="viewgrid" class="ui icon button basic small viewgrid mobile hide" data-tooltip="Grid" data-inverted="">
                    <i class="grid layout icon"></i>
                </button>
                <button id="viewlist" class="ui icon button basic small viewlist mobile hide" data-tooltip="Lista" data-inverted="">
                    <i class="list layout icon"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="list">
        @if (Model != null)
        {
            <div class="brandProducts">
                @Html.Action("GetProductsBrand", "Product", new
                {
                    category = Request.QueryString["category"] ?? "",
                    viewList = Request.QueryString["viewList"] ?? "",
                    pageNumber = Request.QueryString["pageNumber"] ?? "",
                    pageSize = LojaCorp.Control.Company._Company.QuantityItemsPage > 0 ? LojaCorp.Control.Company._Company.QuantityItemsPage : 12,
                    order = Request.QueryString["order"] ?? "",
                    brand = Model.IdBrand,
                    group = Request.QueryString["group"] ?? "",
                    initialPrice = Request.QueryString["initialPrice"] ?? "",
                    finalPrice = Request.QueryString["finalPrice"] ?? "",
                    variations = Request.QueryString["variations"] ?? "",
                    idAttribute = Request.QueryString["idAttribute"] ?? "",
                    idCategories = Request.QueryString["idCategories"] ?? ""
                })
            </div>
        }
    </div>
</div>
<input type="hidden" name="CurrentPage" id="CurrentPage" value="brand"/>
<input type="hidden" name="GenericPageFilter" id="GenericPageFilter" value="@Model.IdBrand"/>
<input type="hidden" name="infinityPage" id="infinityPage" value="@LojaCorp.Control.Company._Company.InfiniteScrolling.ToString()"/>
<input type="hidden" name="itensPage" id="itensPage" value="@LojaCorp.Control.Company._Company.QuantityItemsPage"/>
<input type="hidden" name="ViewProductFiltersUrl" id="ViewProductFiltersUrl" value="@LojaCorp.Control.Company._Company.ViewProductFiltersUrl.ToString()"/>
