﻿@model IList<DomainProduct.Entities.Reference>


@if (Model != null)
{
    foreach (var reference in Model)
    {
        if (reference.Variations != null && reference.Variations.Count() >= 1)
        {
            <div class="active title" id="reference_@reference.IdReference" data-title="@reference.Name">@reference.Name<i class="dropdown icon"></i></div>
            <div class="active content">
                @if (reference.Variations != null)
                {
                    <div class="ui form">
                        <div class="grouped fields">
                            <div class="field">

                                @foreach (var variation in reference.Variations.OrderBy(p => p.DisplayOrder))
                                {
                                    if (!string.IsNullOrEmpty(variation.Color))
                                    {
                                        <button type="button" id="@reference.IdReference:@variation.IdVariation" class="ui basic button checkbox variacao cor checkColor" data-type="variations" style="background-color: @LojaCorp.Control.Static.HexaToRgb(variation.Color) !important;" data-tooltip="@variation.Name" data-reference="@reference.Name.ToLower()">
                                            &ensp;<label class="hideme">@variation.Name</label>
                                        </button>
                                        <div id="check_@variation.IdVariation" class="ui checkbox hideme">
                                            <input type="checkbox" name="@variation.Name" id="variation_@variation.IdVariation">
                                            <label>@variation.Name</label>
                                        </div>
                                    }
                                    else if (!string.IsNullOrEmpty(variation.Image))
                                    {
                                        <div class="ui variacao image checkImage" id="@reference.IdReference:@variation.IdVariation" data-type="variations" data-reference="@reference.Name.ToLower()">
                                            <img src="@variation.Image" alt="@variation.Name" title="@variation.Name" onerror="imgError(this)">
                                            <div class="ui checkbox hideme">
                                                <input type="checkbox" name="@variation.Name" id="variation_@variation.IdVariation">
                                                <label>@variation.Name</label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <button type="button" id="@reference.IdReference:@variation.IdVariation" class="ui primary basic button checkbox tiny checkText" data-type="variations" data-reference="@reference.Name.ToLower()">@variation.Name</button>
                                        <div id="check_@variation.IdVariation" class="ui checkbox hideme">
                                            <input type="checkbox" name="@variation.Name" id="variation_@variation.IdVariation">
                                            <label>@variation.Name</label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
}


