﻿@model Tuple<string, DomainCompany.Entities.Recaptcha>
@if (Model != null && Model.Item2 != null)
{
    if (Model.Item2.Status && Model.Item2.Tipo.Contains(Model.Item1))
    {

        <input type='hidden' id='googleVersion_@Model.Item1.ToLower()' name='googleVersion' value='@Model.Item2.Versao' />
        <input type='hidden' id='googleModule_@Model.Item1.ToLower()' name='googleModule' value='@Model.Item1' />
        <input type='hidden' id='googleSiteKey_@Model.Item1.ToLower()' name='googleSiteKey' value='@Model.Item2.SiteKey' />
        <input type='hidden' id='googleResponse_@Model.Item1.ToLower()' name='googleResponse' value='' />

        if (Model.Item2.Versao == 2)
        {
            <div id="@Model.Item1.ToLower()" class="g-recaptcha" data-sitekey="@Model.Item2.SiteKey"></div>
        }
    }
}
