﻿<div class="paymentcards formas-pagamento">
    <div class="pagamento visa default">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny" viewBox="0 0 72 54">
            <path class="base" d="M67.7 49.5H4.2c-1.1 0-2-.9-2-2v-41c0-1.1.9-2 2-2h63.5c1.1 0 2 .9 2 2v41c0 1.1-.9 2-2 2z" />
            <g class="marca">
                <path class="azul" d="M31.9 36.7h-5L30 17.3h5m-12.4 0l-4.8 13.3-.6-2.9-1.7-8.7s-.2-1.7-2.4-1.7H5.2l-.1.3s2.4.5 5.3 2.2l4.4 16.8H20l8-19.4h-5.4zm39.7 19.4h4.6l-4-19.4h-4.1c-1.9 0-2.3 1.4-2.3 1.4l-7.5 18h5.3l1.1-2.9h6.4l.5 2.9zm-5.6-6.9l2.6-7.2 1.5 7.2h-4.1zM49.4 22l.7-4.2s-2.2-.8-4.5-.8c-2.5 0-8.4 1.1-8.4 6.4 0 5 7 5.1 7 7.7 0 2.6-6.3 2.2-8.3.5l-.9 4.3s2.3 1.1 5.7 1.1c3.4 0 8.6-1.8 8.6-6.6 0-5-7-5.5-7-7.7s4.9-1.9 7.1-.7z" />
                <path class="amarelo" d="M17.2 27.8l-1.7-8.7s-.2-1.7-2.4-1.7H5.2l-.1.3s3.8.8 7.5 3.8c3.5 2.7 4.6 6.3 4.6 6.3z" />
            </g>
        </svg>
    </div>
    <div class="pagamento master default">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny" viewBox="0 0 72 54" overflow="scroll">
            <path class="base" d="M67.7 49.5H4.2c-1.1 0-2-.9-2-2v-41c0-1.1.9-2 2-2h63.5c1.1 0 2 .9 2 2v41c0 1.1-.9 2-2 2z" />
            <g class="texto">
                <path d="M19.3 42.8c-.1-.1-.3-.3-.5-.3-.2-.1-.4-.1-.7-.1h-.4c-.1 0-.3.1-.4.1-.1.1-.3.1-.4.2-.1.1-.2.2-.3.4-.1-.2-.3-.4-.6-.5-.2-.1-.5-.2-.8-.2h-.3c-.1 0-.2.1-.3.1-.1 0-.2.1-.3.2l-.3.3v-.5h-.9v4.2h.9v-2.3c0-.2 0-.3.1-.5.1-.1.1-.3.2-.3.1-.1.2-.2.3-.2.1 0 .3-.1.4-.1.3 0 .5.1.7.3.2.2.2.5.2.8v2.3h.9v-2.3c0-.2 0-.3.1-.5.1-.1.1-.3.2-.3.1-.1.2-.2.3-.2.1 0 .3-.1.4-.1.3 0 .5.1.7.3.2.2.2.5.2.8v2.3h.9V44c0-.2 0-.5-.1-.7.1-.2 0-.4-.2-.5zm4.7.1c-.1-.2-.3-.3-.5-.4-.2-.1-.5-.2-.8-.2-.3 0-.6.1-.8.2-.3.1-.5.3-.7.5-.2.2-.3.4-.4.7-.1.3-.2.6-.2.9 0 .3.1.6.2.9.1.3.3.5.4.7.2.2.4.3.7.5.3.1.5.2.8.2.3 0 .6-.1.8-.2.2-.1.4-.3.5-.4v.5h.9v-4.2H24v.3zm-.1 2.1c-.1.2-.1.3-.3.4-.1.1-.2.2-.4.3-.2.1-.3.1-.5.1s-.4 0-.5-.1c-.2-.1-.3-.2-.4-.3-.1-.1-.2-.3-.2-.4-.1-.2-.1-.3-.1-.5s0-.4.1-.5c.1-.2.1-.3.2-.4.1-.1.2-.2.4-.3.2-.1.3-.1.5-.1s.4 0 .5.1c.2.1.3.2.4.3.1.1.2.3.3.4.1.2.1.3.1.5s0 .4-.1.5zm5.1-.5c-.3-.2-.6-.3-1.1-.4l-.3-.1h-.3c-.1 0-.2 0-.2-.1-.1 0-.1-.1-.1-.1s-.1-.1-.1-.2.1-.3.2-.4c.1-.1.3-.1.6-.1h.4c.1 0 .2.1.4.1.1 0 .2.1.3.1.1 0 .2.1.2.1l.4-.7c-.2-.1-.5-.2-.8-.3-.3-.1-.6-.1-.9-.1-.3 0-.5 0-.7.1-.2.1-.4.2-.5.3-.1.1-.3.3-.3.4-.1.2-.1.4-.1.6 0 .3.1.6.4.8.2.2.6.3 1.1.4l.4.1c.2 0 .4.1.5.2.1.1.2.2.2.3 0 .2-.1.3-.2.4-.2.1-.4.1-.7.1h-.5c-.1 0-.3-.1-.4-.1-.1 0-.2-.1-.3-.1-.1-.1-.2-.1-.2-.2l-.4.7c.2.1.3.2.5.3.2.1.3.1.5.2.2 0 .3.1.5.1h.4c.3 0 .6 0 .8-.1l.6-.3c.2-.1.3-.3.4-.4.1-.2.1-.3.1-.5-.4-.6-.5-.9-.8-1.1zm8.5-1.6c-.2-.2-.4-.3-.6-.4-.2-.1-.5-.2-.8-.2-.3 0-.6.1-.8.2-.3.1-.5.3-.7.4-.2.2-.3.4-.4.7-.1.3-.2.6-.2.9 0 .3.1.6.2.9.1.3.3.5.4.7.2.2.4.3.7.4.3.1.5.2.9.2.3 0 .6 0 .9-.1.3-.1.6-.2.8-.5l-.5-.6-.6.3c-.2.1-.4.1-.6.1-.1 0-.3 0-.4-.1-.1 0-.3-.1-.4-.2l-.3-.3c0-.1-.1-.3-.1-.5h3.1v-.4c0-.3 0-.6-.1-.9-.2-.2-.3-.4-.5-.6zM35 44.1c0-.2.1-.3.1-.4.1-.1.1-.2.2-.3.1-.1.2-.2.3-.2.1 0 .3-.1.4-.1.3 0 .5.1.7.3.2.2.3.4.3.8h-2zm14.6-1.2c-.1-.2-.3-.3-.5-.4-.2-.1-.5-.2-.8-.2-.3 0-.6.1-.8.2-.3.1-.5.3-.7.5-.2.2-.3.4-.4.7-.1.3-.2.6-.2.9 0 .3.1.6.2.9.1.3.3.5.4.7.2.2.4.3.7.5.3.1.5.2.8.2.3 0 .6-.1.8-.2s.4-.3.5-.4v.5h.9v-4.2h-.9v.3zm0 2.1c-.1.2-.1.3-.3.4-.1.1-.2.2-.4.3-.2.1-.3.1-.5.1s-.4 0-.5-.1-.3-.2-.4-.3c-.1-.1-.2-.3-.2-.4-.1-.2-.1-.3-.1-.5s0-.4.1-.5c.1-.2.1-.3.2-.4.1-.1.2-.2.4-.3.2-.1.3-.1.5-.1s.4 0 .5.1c.2.1.3.2.4.3.1.1.2.3.3.4.1.2.1.3.1.5s-.1.4-.1.5zm-16.7.8c-.1.1-.3.1-.4.1h-.3c-.1 0-.1-.1-.2-.1-.1-.1-.1-.1-.1-.2s-.1-.2-.1-.4v-1.8h1.5v-.8h-1.5v-1.3h-.9v1.3h-.8v.8h.8v1.8c0 .6.1 1 .4 1.2.3.3.6.4 1.1.4.3 0 .5 0 .7-.1.1-.1.3-.1.4-.2l-.3-.8c-.1 0-.2 0-.3.1zm8.2-3.5c-.3 0-.5 0-.7.1-.2.1-.4.3-.5.5v-.5h-.8v4.2h.8v-2.3c0-.2 0-.3.1-.5 0-.1.1-.3.2-.4.1-.1.2-.2.3-.2.1 0 .3-.1.4-.1h.6l.3-.9c-.1 0-.1 0-.2-.1-.2.2-.3.2-.5.2zm12.6 0c-.3 0-.5 0-.7.1-.2.1-.4.3-.5.5v-.5h-.8v4.2h.8v-2.3c0-.2 0-.3.1-.5 0-.1.1-.3.2-.4.1-.1.2-.2.3-.2.1 0 .3-.1.4-.1h.6l.3-.9c-.1 0-.1 0-.2-.1-.2.2-.3.2-.5.2zm4.3-1.6v2.2c-.1-.2-.3-.3-.5-.4-.2-.1-.5-.2-.8-.2-.3 0-.6.1-.8.2-.3.1-.5.3-.7.5-.2.2-.3.4-.4.7-.1.3-.2.6-.2.9 0 .3.1.6.2.9.1.3.3.5.4.7.2.2.4.3.7.5.3.1.5.2.8.2.3 0 .6-.1.8-.2.2-.1.4-.3.5-.4v.5h.9V41H58zm-.1 4.3c-.1.2-.1.3-.3.4-.1.1-.2.2-.4.3-.2.1-.3.1-.5.1s-.4 0-.5-.1c-.2-.1-.3-.2-.4-.3-.1-.1-.2-.3-.2-.4-.1-.2-.1-.3-.1-.5s0-.4.1-.5c.1-.2.1-.3.2-.4.1-.1.2-.2.4-.3.2-.1.3-.1.5-.1s.4 0 .5.1c.2.1.3.2.4.3.1.1.2.3.3.4.1.2.1.3.1.5s0 .4-.1.5zm-14.6-1.5c.1-.1.3-.2.4-.3.2-.1.3-.1.5-.1s.4 0 .6.1c.2.1.3.2.4.3l.4-.7c-.2-.1-.3-.2-.6-.3-.3-.1-.6-.2-.9-.2-.3 0-.6.1-.9.2-.3.1-.5.3-.7.5-.2.2-.4.4-.5.7-.1.3-.2.6-.2.9 0 .3.1.6.2.9.1.3.3.5.5.7.2.2.4.3.7.5.3.1.6.2.9.2.3 0 .6-.1.9-.2l.6-.3-.4-.7c-.1.1-.3.2-.4.3-.2.1-.4.1-.6.1-.2 0-.4 0-.5-.1-.2-.1-.3-.2-.4-.3-.1-.1-.2-.3-.3-.4-.1-.2-.1-.3-.1-.5s0-.4.1-.5c.1-.5.2-.6.3-.8z" />
            </g>
            <g class="marca">
                <path class="vermelho" d="M30 23c0-5 2.3-9.4 6-12.3-2.7-2.1-6-3.4-9.7-3.4-8.7 0-15.7 7-15.7 15.7s7 15.7 15.7 15.7c3.7 0 7.1-1.3 9.7-3.4-3.6-2.9-6-7.3-6-12.3z" />
                <path class="laranja" d="M30 23c0 5 2.3 9.4 6 12.3 3.6-2.9 6-7.3 6-12.3s-2.3-9.4-6-12.3c-3.6 2.9-6 7.3-6 12.3z" />
                <path class="amarelo" d="M45.7 7.3c-3.7 0-7.1 1.3-9.7 3.4 3.6 2.9 6 7.3 6 12.3s-2.3 9.4-6 12.3c2.7 2.1 6 3.4 9.7 3.4 8.7 0 15.7-7 15.7-15.7s-7-15.7-15.7-15.7z" />
            </g>
        </svg>
    </div>
    <div class="pagamento diners default">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 54">
            <path class="base" d="M67.7 49.5H4.2c-1.1 0-2-.9-2-2v-41c0-1.1.9-2 2-2h63.5c1.1 0 2 .9 2 2v41c0 1.1-.9 2-2 2z" />
            <g class="marca">
                <path d="M25.7 20.7c0 3 1.9 5.6 4.6 6.6V14.1c-2.7 1-4.5 3.6-4.6 6.6zm9.7-6.6v13.3c2.7-1 4.6-3.6 4.6-6.6 0-3.1-1.9-5.7-4.6-6.7z" />
                <path d="M38.6 8.5h-5.8c-6.8 0-12.4 5.1-12.4 12.4C20.5 27.5 26 33 32.8 33h5.8c6.7 0 12.8-5.5 12.8-12.1 0-7.4-6.1-12.4-12.8-12.4zm-5.7 23.4c-6.2 0-11.2-5-11.2-11.2s5-11.2 11.2-11.2 11.2 5 11.2 11.2S39 31.9 32.9 31.9z" />
            </g>
            <g class="texto">
                <path d="M7.6 35.9H3.5v.4c.6 0 1.3-.1 1.3 1.2v6.8c0 1-.5 1-1.3 1.1v.4h3.9c5 0 5.8-3.5 5.8-4.9 0-2.5-2-5-5.6-5zm0 9.4c-.7 0-1.5-.1-1.5-1.2v-7.7c.3 0 .5-.1 1.1-.1 2.7 0 4.4 1.9 4.4 4.5.1 2.2-.9 4.5-4 4.5zm7.6-8.1c.4 0 .7-.3.7-.7s-.3-.7-.7-.7-.7.3-.7.7c0 .3.4.7.7.7zm.6 7.8v-5.4c0-.1 0-.2-.1-.2s-.2 0-.3.1c-.1 0-.8.3-1.5.5v.2c.5.3.7.4.7 1V45c0 .5-.3.5-.7.5h-.3v.4h3v-.4h-.2c-.3-.1-.6-.1-.6-.5zm7.5-.1v-3.6c0-1.1-.4-2-1.6-2-.9 0-1.6.5-2.4 1.1v-.9c0-.1 0-.1-.1-.1-.7.3-1.3.5-1.9.7v.3c.7.3.8.4.8.9V45c0 .5-.3.5-.7.5h-.3v.4h3v-.4h-.3c-.4 0-.7 0-.7-.5v-4.2c.5-.3 1.2-.7 1.6-.7.8 0 1.3.4 1.3 1.2V45c0 .5-.3.5-.7.5H21v.4h3v-.4c-.4-.1-.7-.1-.7-.6zm4.1.2c-1.1 0-2-1.1-2.1-2.4v-.8h4l.1-.1v-.3c0-1.5-1.2-2.2-2.4-2.2-1 0-2.8.8-2.8 3.6 0 .9.4 3.1 2.7 3.1 1.2 0 2-.7 2.6-1.6l-.2-.2c-.5.5-1.1.9-1.9.9zm-.4-5.3c.8 0 1.2.6 1.2 1.3 0 .2 0 .4-.4.4h-2.5c.2-1.1.8-1.7 1.7-1.7zm6.8-.5c-.9 0-1.5.9-1.8 1.5v-1.3c0-.1 0-.2-.1-.2s-.7.4-1.7.8v.2c.2.1.7.2.7.6v4c0 .5-.3.5-.7.5h-.4v.4h3.7v-.4h-.8c-.4 0-.7 0-.7-.5v-3.3c0-.8.8-1.2 1-1.2.5 0 .5.3.9.3s.7-.3.7-.7c0-.4-.5-.7-.8-.7zm2.1 1.4c0-.6.5-.9 1.1-.9.9 0 1.4.5 1.5 1.4h.3l-.1-1.4c-.5-.3-1.2-.4-1.6-.4-1.6 0-2.2 1-2.2 1.8 0 2.3 3.1 1.7 3.1 3.4 0 .5-.3 1-1.1 1-1 0-1.6-.8-1.8-1.7l-.3.1.2 1.6c.5.3 1.2.5 1.7.5 1.7 0 2.4-1 2.4-1.9.1-2.3-3.2-1.8-3.2-3.5zm12.9 4.8c-2.2 0-4.2-2-4.2-4.9 0-3.4 2.4-4.5 4-4.5s2.8.7 3 2.3h.4l-.1-2c-1.1-.4-2.2-.8-3.3-.8-2.8 0-5.3 2.1-5.3 5 0 3.2 2.1 5.3 5.4 5.3.9 0 2.5-.4 3.1-.8l.3-2.1-.3-.1c-.4 1.7-1.6 2.6-3 2.6zm5.8-.6v-9.7c0-.1 0-.2-.1-.2 0 0-.2.1-.3.2-.3.2-.9.4-1.5.6v.2c.5.2.8.2.8 1.1V45c0 .5-.3.5-.7.5h-.3v.4h3v-.4h-.2c-.4-.1-.7-.1-.7-.6zm6.9.1v-5.2c0-.2 0-.3-.1-.3s-.9.1-2.2.2v.3c.5.1 1.2.3 1.2.6v3.8c-.6.5-1.2.9-1.7.9-1.2 0-1.2-1.2-1.2-1.6V40c0-.3 0-.4-.2-.4s-1.3.1-1.8.1v.3c.8.1.8.4.8.8v3.6c0 1.2.8 1.7 1.5 1.7 1 0 1.7-.5 2.5-1.2V46h.1c.3-.1 1.4-.4 2-.4v-.3h-.6c-.1 0-.3 0-.3-.3zm4.9-5.7c-.8 0-1.5.5-2.1 1v-5.1c0-.1 0-.2-.1-.2 0 0-.2.1-.3.2-.3.2-.9.4-1.5.6v.2c.5.2.8.2.8 1.1v6.1c0 .9-.1 1.7-.2 2.5l.3.2.4-.3c.4.2.9.5 2 .5 2 0 3.4-1.9 3.4-3.7 0-1.6-1-3.1-2.7-3.1zm-.6 6.3c-.9 0-1.5-.9-1.5-1.4v-3.4c.4-.3.8-.7 1.3-.7 1.1 0 2.3 1.3 2.3 2.8 0 1.2-.6 2.7-2.1 2.7z" />
            </g>
        </svg>
    </div>
    <div class="pagamento hiper default">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny" viewBox="0 0 72 54" overflow="scroll">
            <path class="base" d="M67.7 49.5H4.2c-1.1 0-2-.9-2-2v-41c0-1.1.9-2 2-2h63.5c1.1 0 2 .9 2 2v41c0 1.1-.9 2-2 2z" />
            <g class="marca" fill-rule="evenodd">
                <path d="M45 29.6c-.2 1.6 1.7 1.4 2.3.7.5-.5.6-1.4.7-2.1-1.4-.2-2.8.1-3 1.4zm-20.7-3.8s0 .1 0 0c0 .1 0 .1 0 0zm7.8.1c-1 0-1.6.8-1.7 1.5h3c.3-1.1-.4-1.5-1.3-1.5zm-7.9.7c-.1.5-.2 1-.3 1.6-.1.6-.3 1.1-.2 1.6.1 1.2 1.8 1.2 2.5.5.6-.6 1-2.1.9-3.3-.2-1.3-2.2-1.2-2.9-.4zm32.9-.6c-1.4.2-2.1 1.9-2 3.4 0 .9.5 1.4 1.3 1.4 2 0 1.9-2.9 2.3-4.6-.5-.1-.9-.3-1.6-.2z" />
                <path d="M22.6 14.9h-6.1c-2.7.1-4.9 1.2-5.6 3.5-.3 1.2-.5 2.5-.8 3.7-1.3 6.2-2.5 12.6-3.8 18.7h47.9c3.7 0 6.2-.8 6.9-3.7.3-1.4.6-2.9.9-4.4 1.2-5.8 2.4-11.7 3.6-17.7h-43zM21.2 23c.1-.1.3-.2.5-.3.3 0 .5 0 .6.1.4.3 0 1.1-.2 1.3-.2.1-.7.2-1 0-.2-.3 0-.9.1-1.1zM17 31.5c.2-1.5.5-2.9.8-4.3-1.2-.1-2.7-.1-4 0-.3 1.4-.5 2.9-.7 4.3h-1.5c.6-2.9 1-5.8 1.6-8.8h1.4c-.2 1.1-.4 2.4-.7 3.5 1.3.1 2.7 0 4 0 .2-1.2.4-2.3.6-3.5H20c-.6 2.8-1.1 5.8-1.6 8.8H17zm2.7 0c.4-2 .8-4 1.1-6.1v-.1h1.3c-.4 2-.8 4.1-1.1 6.2h-1.3zm6.9-.2c-.8.4-2.7.7-3-.5-.3 1.1-.4 2.3-.6 3.4h-1.3c.6-3 1.1-6 1.6-9h1.1c0 .2-.1.3-.1.5.6-.5 1.9-1 3-.5 2.2.9.9 5.2-.7 6.1zm7.8-3.1h-4.2c-.2.9-.2 2 .4 2.4.9.6 2.4.1 3.2-.2-.1.3-.1.7-.2 1-2.1.5-4.7.6-4.9-1.5-.2-1.5.4-3.1 1.1-3.8.6-.6 1.3-.9 2.3-.9 1.1-.1 2.1.1 2.4 1 .3.6 0 1.3-.1 2zm2.3-.7c-.4 1.2-.5 2.8-.7 4h-1.3c.4-2 .8-4.1 1.1-6.2H37c-.1.3-.1.7-.2 1 .4-.7 1.3-1.5 2.5-1 0 .3-.1.6-.2.9-1.2-.4-2 .4-2.4 1.3zm6.2 3.8c-1.7.6-3.8.5-4.2-1-.4-1.3.2-3.4 1-4.3.9-.9 2.5-1.1 4.3-.8 0 .3-.1.7-.2 1-1.1-.4-2.4-.5-3.1.2-.5.5-.8 1.5-.9 2.4 0 .4 0 .9.1 1.2.4 1.1 2.2.8 3.1.3 0 .4 0 .7-.1 1zm6.4-2.7c-.2 1-.3 1.8-.3 2.9h-1.1c0-.4 0-.7.1-1-.5.9-2.1 1.5-3.3.9-.7-.3-1-1.3-.7-2.3.5-1.5 2.2-1.9 4.3-1.7.1-.3.2-.6.2-1-.2-1-2.6-.4-3.4-.2.1-.3.2-.7.2-1 1.5 0 4.3-.6 4.3 1 .1.8-.2 1.6-.3 2.4zm2.3.7c-.1.8-.3 1.4-.3 2.2H50c.4-2 .8-4.1 1.1-6.2h1.1c-.1.3-.1.7-.2 1 .4-.6 1.3-1.5 2.5-1-.1.3-.1.6-.2.9-2-.6-2.4 1.3-2.7 3.1zm7.5 2.2H58c0-.3.1-.6.1-.9 0-.1-.2.2-.2.3l-.4.4c-.9.6-2.6.4-3.2-.3-.3-.4-.4-.9-.4-1.5 0-2.9 1.9-5.2 5.1-4.2.2-.9.3-1.8.4-2.8h1.3c-.7 3-1.3 5.8-1.6 9z" />
            </g>
        </svg>
    </div>
    <div class="pagamento boleto default">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 54">
            <path class="base" d="M67.7 49.5H4.2c-1.1 0-2-.9-2-2v-41c0-1.1.9-2 2-2h63.5c1.1 0 2 .9 2 2v41c0 1.1-.9 2-2 2z" />
            <g class="marca">
                <path d="M9.8 13.3h2.9v11.5H9.8zm3.8 0h.9v11.5h-.9zm1.8 0H17v11.5h-1.6zm3.1 0h.9v11.5h-.9zm1.3 0h.7v11.5h-.7zm-12.2 0h.9v27.3h-.9zm-2 0h1.6v27.3H5.6zm19.7 0h2.9v11.5h-2.9zm3.9 0h.9v11.5h-.9zm1.6 0h1.7v11.5h-1.7zm3.3 0h.9v11.5h-.9zm1.2 0h.7v11.5h-.7zm-12.2 0h.9v11.5h-.9zm-2 0h1.6v11.5h-1.6zm16.1 0h1.7v11.5h-1.7zm3.2 0h.9v11.5h-.9zm1.3 0h.7v11.5h-.7zm3.3 0h.9v11.5H45zm-2.1 0h1.7v11.5h-1.7zm4.2 0h.9v11.5h-.9zm1.3 0h.7v11.5h-.7zm3.3 0h.9v11.5h-.9zm-2 0h1.6v11.5h-1.6zm3.6 0h2.9v11.5h-2.9zm3.9 0h.9v11.5h-.9zm1.7 0h1.6v11.5h-1.6zm3.2 0h.9v11.5h-.9zm1.3 0h.7v11.5h-.7zm1.8 0h1.7v27.3h-1.7z" />
            </g>
            <g class="texto">
                <path d="M10 26.5h4.8c2.5 0 3.6 1.5 3.6 3.9 0 1-.2 1.9-1.1 2.7 1 .9 1.1 1.8 1.1 3.1 0 2.2-1.5 3.5-3.6 3.5H10V26.5zm1.7 5.8h3.1c1.2 0 1.9-.5 1.9-1.8 0-1.4-.4-2.2-1.9-2.2h-3.1v4zm0 5.8h3.1c1.2 0 1.9-.5 1.9-1.8 0-1.4-.4-2.2-1.9-2.2h-3.1v4zm7.7-4.5c0-1.1.2-1.5 1-2.1.8-.7 1.2-.9 2.3-.9H24c1.1 0 1.5.3 2.3.9.8.7 1 1 1 2.1v3.1c0 1.1-.3 1.5-1.1 2.2-.9.7-1.2.9-2.2.9h-1.3c-1 0-1.4-.1-2.2-.9s-1.1-1.1-1.1-2.2v-3.1zm1.6 3.1c0 .3.1.6.6 1 .4.3.6.4 1.1.4H24c.5 0 .8-.1 1.1-.4.5-.4.6-.6.6-1v-3.1c0-.3-.1-.6-.6-1-.4-.3-.6-.4-1.1-.4h-1.3c-.5 0-.8.1-1.1.4-.5.4-.6.6-.6 1v3.1zm12.4 1.4h1.2c.5 0 1.1.1 1.1.8s-.6.8-1.1.8h-4.2c-.5 0-1.1-.1-1.1-.8s.6-.8 1.1-.8h1.3v-9.3h-1.3c-.5 0-1.1-.1-1.1-.8 0-.7.6-.8 1.1-.8h1.7c.9 0 1.2.2 1.2 1.1l.1 9.8zm7.4 1.7c-.7 0-1 0-1.5-.4l-.7-.6c-.6-.6-.8-1-.8-1.8v-3.2c0-.9.1-1.4.8-2l.6-.5c.8-.7 1.1-.7 1.8-.7h1.5c.8 0 1.2.1 1.8.6l.7.5c.8.6.9 1.2.9 2.1v1.3c0 .9-.2 1.2-1.1 1.2h-5.2v.5c0 .2.1.4.2.5l.4.4c.2.2.5.3 1.1.3h3.5c.5 0 1.1.1 1.1.8s-.6.8-1.1.8h-4v.2zm-1.4-5.1h4.7v-1c0-.3 0-.6-.2-.8l-.6-.5c-.2-.2-.5-.2-.8-.2h-1.4c-.3 0-.6 0-.8.2l-.6.4c-.2.2-.3.3-.3.8v1.1zm10.9 2c0 .9 0 1.4 1.1 1.4h.8c.7 0 1-.1 1.1-.7.1-.4.4-.7.8-.7.5 0 .8.4.8.8 0 .5-.3 1-.6 1.4-.6.7-1.4.8-2.2.8h-.8c-.8 0-1.5-.2-2.1-.8-.6-.7-.6-1.4-.6-2.3v-4.4h-.5c-.5 0-1.1-.1-1.1-.8s.6-.8 1.1-.8h.5v-1.7c0-.6.1-1.1.8-1.1s.8.6.8 1.1v1.7H53c.5 0 1.1.1 1.1.8 0 .7-.6.8-1.1.8h-2.7v4.5zm5.9-3.1c0-1.1.2-1.5 1-2.1.8-.7 1.2-.9 2.3-.9h1.3c1.1 0 1.5.3 2.3.9.8.7 1 1 1 2.1v3.1c0 1.1-.3 1.5-1.1 2.2-.9.7-1.2.9-2.2.9h-1.3c-1 0-1.4-.1-2.2-.9s-1.1-1.1-1.1-2.2v-3.1zm1.6 3.1c0 .3.1.6.6 1 .4.3.6.4 1.1.4h1.3c.5 0 .8-.1 1.1-.4.5-.4.6-.6.6-1v-3.1c0-.3-.1-.6-.6-1-.4-.3-.6-.4-1.1-.4h-1.3c-.5 0-.8.1-1.1.4-.5.4-.6.6-.6 1v3.1z" />
            </g>
        </svg>
    </div>
</div>
