.customError {

	.customImg {
		margin-top:3em;
		display: inline-block;
		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
	}

	.customImgLogo {
		img {
			width: 100px;
			max-width: 100%;
			display: block;
			margin: 25px auto;
		}
	}

	.text-1 {
		color: $primary-color;
		font-size: 25px;
		margin-top: 35px;
		font-weight: 300;
		display: inline-block;
		width: 100%;
	}

	.text-2 {
		color: $grey;
		font-size: 14px;
		margin-bottom:20px;
        font-weight: 300;
		display: inline-block;
		width: 100%;
	}

	.ui.button {
		font-weight: 400;
		border-radius: 500em;
	}
}
