//Font
$body-font-size: 14px;
$import-google-fonts: false;
$font-url: 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext';
$font-name: 'Lato';
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;
