﻿@{
    ViewBag.Title = "Listas de Casamento";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}
    <div class="ui container fluid lista casamento">
        <div class="ui container">
            <div class="ui grid index">
                <div class="row two column stackable">
                    <div class="column mobile-hide">
                        <img src="~/assets/image/lista_casamento/img_casamento.png" alt=""
                             class="ui image fluid img-banner-casal">
                    </div>
                    <div class="column">
                        <div class="ui grid stackable">
                            <div class="row one column">
                                <div class="column busca-lista">
                                        <img src="~/assets/image/lista_casamento/img_passaros.png" alt=""
                                             class="ui image right floated mobile-hide">
                                    <div class="ui form">
                                        <h1><span>Lista de</span>
                                            Casamento</h1>
                                        <h2>Procure uma lista</h2>
                                        <div class="fields">
                                            <div class="field">
                                                <div class="ui left icon right action fluid input">
                                                    <input type="text" placeholder="Nome dos noivos">
                                                    <i class="user outline icon"></i>
                                                    <button class="ui button primary">Pesquisar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row one column">
                                <div class="column login-lista text color white">
                                    <h1>Crie ou gerencie sua lista</h1>
                                    <p>Crie ou gerencie sua lista de casamento com
                                        praticidade e segurança e compartilhe esse
                                        momento especial.</p>
                                    <a href="" class="ui button inverted">Criar Lista</a>
                                    <div class="ui divider hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
