﻿@model DomainCompany.Entities.PolicyPrivacyCompany

@{
    ViewBag.Title = "Política de Privacidade";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}


@if (Model.StatusPolicyPrivacy)
{
    <div class="ui container margin top medium">
        <div class="ui two column grid stackable middle aligned">
            <div class="row">
                <div class="column">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container margin bottom large">
        <div class="ui two column grid stackable middle aligned margin bottom large">
            <div class="row one column">
                <div class="column">
                    @Html.Raw(Model.PolicyPrivacy)
                </div>
            </div>
        </div>
    </div>
}
