﻿@{
    ViewBag.Title = "Login - Área do Vendedor";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}

@section breadcrumbs {
    <div class="ui container">
        <div class="ui one column grid stackable middle aligned">
            <div class="row">
                <div class="column">
                    <h1>@ViewBag.Title</h1>
                    <div class="ui breadcrumb text small">
                        <a class="section" href="/">Home</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/">Área do Vendedor</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<div class="ui container margin bottom large">
    <div class="ui grid">
        <div class="row one column">
            <div class="column">
                <div class="ui grid middle aligned center aligned">
                    <div class="row">
                        <div class="five wide computer sixteen wide tablet sixteen wide mobile column">
                            <form class="ui large form">
                                <div class="ui segment">
                                    <div class="ui grid  very relaxed stackable middle aligned grid">
                                        <div class="row one column ">
                                            <div class="column">
                                                <div class="ui compact message form-message error">
                                                    <p></p>
                                                </div>
                                                <div class="field">
                                                    <div class="ui left icon input">
                                                        <i class="user icon"></i>
                                                        <input type="text" name="" id="" maxlength="100" placeholder="E-mail, CPF ou CNPJ">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="ui left icon input">
                                                        <i class="lock icon"></i>
                                                        <input type="password" name="" id="" maxlength="100" placeholder="Senha">
                                                    </div>
                                                </div>
                                                <div class="ui divider hidden"></div>
                                                <button type="button" class="ui fluid large submit primary button">
                                                    Entrar
                                                </button>
                                                <div class="ui divider"></div>
                                                <p>Esqueceu sua senha? <a href="#">Recuperar senha</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
